.TypographyComponent {
    width: 100%;

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    z-index: 99;
}

.TypographyComponent .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.TypographyComponent p {
    font-size: 20px;
}

.TypographyComponent button {
    width: fit-content;
}

@media screen and (max-width: 840px) {
    .TypographyComponent {
        align-items: center;
    }
}