.FeaturesSection{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.FeaturesSection .cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}

.FeaturesSection .cards .CardComponent{
    position: relative;
    width: 320px;
    height: fit-content;
}

.FeaturesSection .cards .CardComponent .head{
    background: #F3F7FF;
    
    display: flex;
    gap: 20px;
}

.FeaturesSection .cards .CardComponent .head .icon{
    width: 120px;
    height: 120px;
}

.FeaturesSection .cards .CardComponent .head .text{
    flex: 1;
    display: flex;
    align-items: center;
}

.FeaturesSection .cards .CardComponent .head .text p{
    padding-right: 14px;
    font-size: 18px;
    font-weight: 700;
    color: #11223F;
}


.FeaturesSection .cards .CardComponent .body{
    padding: 40px;
}

.FeaturesSection .cards .CardComponent .body .cornericon{
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 25px;
    height: 25px;
    overflow: hidden;
}


.FeaturesSection .cards .CardComponent:nth-child(2){
    margin-top: 30px;
}

.FeaturesSection .cards .CardComponent:nth-child(3){
    margin-top: 60px;
}